{% extends 'base.html' %}


{% block content %}

<h1>You made it!</h1>

<p>username: {{user.username}}</p>
<p>email: {{user.email}}</p>
<p>first_name: {{user.first_name}}</p>
<p>last_name: {{user.last_name}}</p>

<!-- Showing all user notes -->
{% if user.notes%}
    <ul>
    {% for note in user.notes %}
        <li>
            <!-- Edit Note -->
            <a href="/notes/{{note.id}}/update">Edit</a>
            <!-- Delete Note -->
            <a href="//notes/{{note.id}}/delete">Delete</a>
            <!-- Note title and content preview -->
            {{ note.title }}
            {{ note.content[:20]}}
        </li>
        {% endfor %}
    </ul>
{% endif %}

    <!-- Add Note -->
    <a href="/users/{{user.username}}/notes/add">Add Note</a>

    <!-- Delete User (Authenticates request with CRF token because it is using WTForms)
    Otherwise outside forms could secretly direct to this route. Browsers also sometimes preload
    links, so if it was a normal a tag, the user accidentally be deleted. TLDR, create a form with WTForm,
    give it a post method, validate the form submission with validate_on_submit()-->
    <form action='/users/{{user.username}}/delete' method="POST">

        {% include '_form.html' %}
        <button>Delete</button>

    </form>

<a href="/logout">Logout</a>

{% endblock%}